:root {
    --theme3-couleur1: #002642;
    --theme3-couleur2: #78002E;
    --theme3-couleur3: #E59500;
    --theme3-couleur4: #E5DADA;
    --theme3-couleur5: #FFFFFF;
}

body {
    background-color: var(--theme5-couleur3);
    color: var(--theme3-couleur1);
}

aside {
    background: var(--theme3-couleur1);
    color: var(--theme3-couleur4);
}

a {
    color: var(--theme3-couleur3);

    &:hover {
        color: var(--theme3-couleur2);
    }
}

.profile-picture {
    background-color: var(--theme3-couleur5);
}

main {

    h1,
    h2 {
        color: var(--theme3-couleur2);
    }
}