:root {
    --theme2-couleur1: #86A69D;
    --theme2-couleur2: #F2B263;
    --theme2-couleur3: #F2E8DF;
    --theme2-couleur4: #F2C6C2;
    --theme2-couleur5: #F28585;
}

body#theme {
    background-color: var(--theme2-couleur3);
    color: var(--theme2-couleur1);

    aside {
        background: var(--theme2-couleur1);
        color: var(--theme2-couleur4);
    }

    a {
        color: var(--theme2-couleur1);

        &:hover {
            color: var(--theme2-couleur2);
        }
    }

    .profile-picture {
        background-color: var(--theme2-couleur3);
    }

    main {

        h1,
        h2 {
            color: var(--theme2-couleur2);
        }
    }
}