<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./../../palette/0/style.css">
    <title>THEME 1</title>
</head>

<body>
    <aside>
        <div class="profile-picture" id="photo">
            <img src="./assets/img/fluent-color_person-16.svg" alt="">
        </div>
        <h2>Coordonnées</h2>
        <div class="coordonnees">
            <p><span class="adresse">adresse</span></p>
            <p><span class="mail">email</span></p>
            <p><span class="linkedin">linkedin</span></p>
            <p><span class="twitter">twitter</span></p>
            <p><span class="website">website</span></p>
            <p><span class="date_naissance">date naissance</span></p>
        </div>

        <h2>Langues</h2>
        <div class="langues" id="langues">
            <p>Langue 1</p>
            <p>Langue 2</p>
            <p>Langue 3</p>
            <p>Langue 4</p>
        </div>

        <h2>Formations</h2>
        <div class="formations" id="etudes">
            <div>
                <p>Diplome</p>
                <p>Ecole</p>
                <p>Lieu, Date</p>
            </div>
            <div>
                <p>Diplome</p>
                <p>Ecole</p>
                <p>Lieu, Date</p>
            </div>
            <div>
                <p>Diplome</p>
                <p>Ecole</p>
                <p>Lieu, Date</p>
            </div>
            <div>
                <p>Diplome</p>
                <p>Ecole</p>
                <p>Lieu, Date</p>
            </div>
            <div>
                <p>Diplome</p>
                <p>Ecole</p>
                <p>Lieu, Date</p>
            </div>
        </div>

        <h2>Centres d'intérêt</h2>
        <div>
            <p><span class="interests">lorem</span></p>
        </div>
    </aside>
    <main>
        <h1><span class="lastname">Nom</span> <span class="firstname">Prénom</span></h1>
        <h2><span class="poste"></span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, perspiciatis.</p>

        <h2>Réalisations</h2>
        <div class="projets">
            <p><a href="#">Site Web</a></p>
            <p><a href="#">Site Web</a></p>
            <p><a href="#">Site Web</a></p>
        </div>
        <h2>Compétences</h2>
        <div class="competences" id="competences">
            <div>
                <h4>Savoir-être</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
            <div>
                <h4>Savoir-faire</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>

        <h2>Experiences professionnels</h2>

        <div id="competences">
            <div class="experience">
                <div class="experience-header">
                    <h3>Intitulé - Lieu</h3>
                    <h3>Date</h3>
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="experience">
                <div class="experience-header">
                    <h3>Intitulé - Lieu</h3>
                    <h3>Date</h3>
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="experience">
                <div class="experience-header">
                    <h3>Intitulé - Lieu</h3>
                    <h3>Date</h3>
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="experience">
                <div class="experience-header">
                    <h3>Intitulé - Lieu</h3>
                    <h3>Date</h3>
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="experience">
                <div class="experience-header">
                    <h3>Intitulé - Lieu</h3>
                    <h3>Date</h3>
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="experience">
                <div class="experience-header">
                    <h3>Intitulé - Lieu</h3>
                    <h3>Date</h3>
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>