:root {
    --theme1-couleur1: #295E73;
    --theme1-couleur2: #7EADBF;
    --theme1-couleur3: #9CCED9;
    --theme1-couleur4: #F2EAD0;
    --theme1-couleur5: #F2F2F2;
}

body#theme {
    background-color: var(--theme1-couleur5);
    color: var(--theme1-couleur1);

    aside {
        background: var(--theme1-couleur1);
        color: var(--theme1-couleur5);
    }

    a {
        color: var(--theme1-couleur3);

        &:hover {
            color: var(--theme1-couleur1);
        }
    }

    .profile-picture {
        background-color: var(--theme1-couleur4);
    }

    main {

        h1,
        h2 {
            color: var(--theme1-couleur2);
        }
    }
}