@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);



* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    font-family: "Inter", sans-serif;
    /* font-size: 16px; */
    font-size: 24px;
}

body {
    padding-inline: 1rem;
}

h1,
h2 {
    font-weight: 900;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

header {
    max-width: 1200px;
    margin: auto;
    padding-block: 1rem;
    display: flex;
    gap: 1rem;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

main {
    max-width: 1200px;
    margin: auto;
    padding-block: 90px;
}

.titre {
    font-size: 34px;
    margin-block: 28px;
}

h2 {
    margin-top: 80px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    font-weight: 700;
    flex-wrap: wrap;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}

.projets {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    gap: 24px;
}

.xp,
.formations {
    .content {
        padding-top: 1.25rem;

        .heading {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            margin-block: 0.5rem;
            line-height: 1.5;
            font-weight: 700;
        }
    }
}

.competences,
.langages {
    margin-top: 40px;
}

.competences {
    display: flex;
    gap: 5rem;

    h4 {
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
}